gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
# 项目 dev keystore 需要共享给团队以保持 SHA1 一致（非生产签名）
!app/keystore/sageroute-dev.jks
